<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>

<h1>Welcome to the online-shop!</h1>

<h2>What do you want to order?</h2>

<form action="">
    <label for="stone">One stone</label>
    <input type="checkbox" name="product" id="stone" value="stone"><br>
    <label for="wood">A piece of wood</label>
    <input type="checkbox" name="product" id="wood" value="wood"><br>
    <label for="air">Literally air</label>
    <input type="checkbox" name="product" id="air" value="air"><br>
    <br>
    <label for="email">E-Mail</label>
    <input type="email" name="email" id="email" placeholder="john.smith@domain.com"><br>
    <input type="submit" value="Send">
</form>
</body>
</html>